$cursorPointerIE: url(/cursors/TheWitcher3Link.ani), pointer;
$cursorPointer :  url(/cursors/TheWitcher3Link.gif), pointer;

////////////////////////////Text colors//////////////////////////

$defaultText : #716556;
$defaultTextMoreIntensive : #b18b48;
$greenText : #406139;
$title : #e6e6e6;
$subTitle : #b0b0ae;
$additionalText : #4f3832;

////////////////Icons/////////////////////
$greenIcon : #38ab46;
$invalidIcon: #ab1512;
$filterIcon : #4f3832;
$filterIconChosen : #fefbfb;
$pagesChosen : #91824a;
$pages : #242323;

////////////borders////////////////

$borderDeck : #0c0c0c;
$customBorder : linear-gradient(
    to bottom, rgba(47, 37, 23, 0.1),
    #574c27,
    rgba(47, 37, 23, 0.1))
1 100%;


/////////////////Shadow//////////////

$customShadow: 0 0 1px 1px rgba(0, 0, 0, .9) inset;
$shadowHover : #feaf5c;
$shadowHoverButton: $customShadow, 0 0 15px 5px rgba($shadowHover, 0.6);

////////////////////Buttons///////////////////

$scale : #655940;
$button : #1d1d18;
$buttonText : #a5a195;
$buttonDark : #262020;
$buttonDarkText : #98937f;
$buttonTextHover : #c6c6c6;
