@import "/variables";

.user-form-block {
  display: flex;
  flex-direction: column;
}

.user-form-block__title {
  color: $buttonTextHover;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.user-form-block__item {
  margin-bottom: 20px;
}
